.headertag {
    /* position: fixed;
    top: 0px; */
    /* background-color: #222222; */
}

.Avatarmyselfdiv {
    /* background-color:antiquewhite; */
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Avatarmyself {
    padding: 3px;
    border: 0px solid #FFD4D4;
    justify-content: space-around;
    width: 350px;
    height: 200px;
    margin:10px;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    cursor: pointer;

}
.Avatarmyself:hover{
    transform: scale(2);
    overflow: hidden;
    margin: 30px;
}

.bannercard {
    margin-top: 20%
}

.navbarright {
    /* position: fixed;
    top: 28.5%; */

}

.bannercard {
    position: relative;
    margin-top: 10%  
}
@media screen and (min-width: 300px) and (max-width: 425px) {

    .bannerleft {
        
        order: 1;
    }

    .bannerright {
        
        order: 0;
    }
    .Avatarmyself{
        width: 150px;
        height: 100px;
        margin:3px;


    }

}
@media screen and (min-width: 426px) and (max-width: 753px) {

    .bannerleft {
        order: 1;
    }

    .bannerright {
        order: 0;
    }
    .Avatarmyself{
        width: 150px;
        height: 100px;
        margin:3px;


    }
    
}